/*RESET CSS*/

* {
    box-sizing: border-box; 
}

html {
font-size: 62.5%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6rem;
    line-height: 1.6;
    background: #fff;
    margin: 0;    
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Poppins', sans-serif;
    color: #000;
    line-height: 1;
}

h1, .h1 {
    font-size: 3.1rem;
}

h2, .h2 {
    font-size: 2.8rem;
    text-transform: uppercase;
}

h3,.h3 {
    font-size: 2.1rem;
}

a {
    text-decoration: none;
}

img{
    max-width:100% ;
    height: auto;
    border-radius: 10px;
}
